@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;600;700&display=swap");
:root {
  --mesa-blue-gradient: linear-gradient(120deg, #001b33 0%, #023867 35%, #007ecc 100%);
  --mesa-secondary-blue-gradient: linear-gradient(317deg, #0e223f 0%,  #1f3c7b 35%,  #2253a3 100%);
  --mesa-yellow-gradient: linear-gradient(317deg, #fcb424 0%,  #ffcd42 35%,  #ffe65c 100%);
  --mesa-primary-mid-blue: #1f3c7b;
}

/*General body styling*/
/*san-serif is easier font to read*/
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Antonio", san-serif;
  background: var(--mesa-blue-gradient);
}

body p {
  line-height: 1.5;
  margin: 0;
}

body .header {
  padding-bottom: 10px;
}

body .header h2, body .header p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  color: #fff;
}

body .header h2 {
  padding: 10px;
  font-size: 2.5rem;
}

/*Typography*/
.alum-details {
  color: #212121;
  font-size: calc(1rem + (3 - 1) * ((100vw - 300px)/(1600 - 300)));
}

/*Line clamp, limit line to 10*/
span {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.review::before, .review::after, .alum-image::before, .alum-image::after {
  font-family: sans-serif;
  font-size: calc(7rem + (6 - 1) * ((100vw - 300px)/(1600 - 300)));
  font-weight: 500;
}

.review .highlight, .alum-image .highlight {
  font-size: calc(1.2rem + (3 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  font-style: italic;
  font-family: sans-serif;
}

/*********************
  GRID LAYOUT STYLING 
  *********************/
.testimonial-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: (minmax(300px, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px 20px;
  padding: 20px;
  max-width: 1200px;
  background: #f8f8ff;
  background: rgba(248, 248, 255, 0.8);
  margin: 0 auto;
  place-items: center center;
  border-radius: 5px;
}

/*********************
  FLEX ITEM GENERAL STYLING
  **********************/
.testimonial-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  place-content: center center;
  margin: 0;
  padding: 0;
  margin: 0;
  border: px solid #ccc;
  border-radius: 5px;
  /*Alum image container*/
}

.testimonial-card .alum-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  place-content: start end;
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-top: 0;
  min-width: 273px;
  height: 450px;
}

.testimonial-card .alum-grad {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 0;
  height: 0;
  margin-left: 59px;
  position: relative;
  top: -25%;
  left: -1%;
}

.testimonial-card .alum-grad aside {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 3rem;
  letter-spacing: 3px;
  color: #fff;
  font-weight: 700;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 235px;
}

.testimonial-card .alum-grad aside span {
  color: #001b33;
}

.testimonial-card .alum-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  display: block;
  width: 100%;
}

.testimonial-card .alum-image:before {
  content: "\”";
  top: -5%;
  left: 85%;
  color: #fff;
  height: 0;
  opacity: 0.8;
  display: block;
  position: relative;
  width: 50px;
}

.testimonial-card .alum-image-crop {
  width: 115px;
  height: 115px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
}

.testimonial-card .alum-image-crop {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  margin: 0 auto;
  position: relative;
  top: 25%;
}

.testimonial-card .review {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

.testimonial-card .review .highlight {
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  font-size: calc(1rem + (4 - 1) * ((100vw - 300px)/(1600 - 300)));
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.testimonial-card .alum-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin: 0 auto;
  width: 100%;
  place-content: center center;
  background-color: #fff;
  color: var(--mesa-primary-mid-blue);
  text-align: center;
}

.testimonial-card .alum-details p:nth-of-type(n+2) {
  color: #212121;
  opacity: .8;
}

/*********************
ALT STYLING USING NTH-OF-TYPE
*********************/
.testimonial-card:nth-of-type(odd):nth-child(odd) {
  background: var(--mesa-secondary-blue-gradient);
  /* background: #1f3c7b; */
}

.testimonial-card:nth-of-type(even):nth-child(even) {
  background: var(--mesa-yellow-gradient);
}

.testimonial-card:nth-of-type(even):nth-child(even) aside span {
  color: var(--mesa-primary-mid-blue);
}

/*Alum images*/
#alum1 {
  background: url(images/image1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#alum2 {
  background: url(images/image2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#alum3 {
  background: url(images/image3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#alum4 {
  background: url(images/image4.png);
  background-position-x: left;
  background-position-y: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#alum5 {
  background: url(images/image5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#alum6 {
  background: url(images/image6.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#alum7 {
  background: url(images/image7.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#alum8 {
  background: url(images/image8.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#alum9 {
  background: url(images/image9.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*********************
  MEDIA QUERIES 
  *********************/
/*Line clamps*/
/*# sourceMappingURL=styles.css.map */