@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;600;700&display=swap");
/*General body styling*/
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Antonio", san-serif;
}

body p {
  line-height: 1.5;
}

/*outer grid*/
.testimonal-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  grid-gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  max-height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 1px solid green;
  /*new*/
  background: linear-gradient(120deg, #001b33 0%, #023867 65%, #007ecc 100%);
  /*new*/
  margin: 30px;
}

/*Cards use flex
  May need multiple flex containers for 2D content/or use grid
  2D Content vs Grid/subgrid (subgrid only supported by firefox :(no to subgrids lol)  
  Explicit and Implicit Grids
  
  Grid properties:: 
  ::grid-container 
  justify-content: when size of grid is less than size of grid container, set alignment of grid within the grid container
  align-content: block(col) axis 
  
  
  ::grid-items
  justify-items: aligns items along inline(row) axis
      vs. 
  aligns-items: aligns along the block(column) axis)
  place-items: sets both align-items and justify-items props
  */
.testimonal-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  border: 1px solid #ccc;
  /*new padding: 1rem 2rem; remove padding and added it to flex items so it doesn't spill into grid area */
  /* height: auto; */
  /*new*/
  max-height: 300px;
  /*specified style added*/
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-radius: 5px;
  /*S1*/
}

.testimonal-card:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background: white;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: left;
}

.testimonal-card:nth-child(1) .alum-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding: 10px;
  place-items: center;
}

.testimonal-card:nth-child(1) .alum-image {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.testimonal-card:nth-child(1) .review {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  text-align: center;
}

.testimonal-card:nth-child(1) .alum-details {
  /*new*/
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.testimonal-card:nth-child(1) .alum-details p {
  padding: 0;
  margin: 0;
  text-align: center;
}

.testimonal-card:nth-child(1) .alum-details .alumni {
  color: #023867;
  font-weight: 500;
}

/*Alum image container*/
.alum-image {
  width: 100%;
  /*   max-height: 145px; */
}

.alum-image img {
  max-height: 100px;
  max-width: 100px;
  border-radius: 50%;
  /* width: 5rem; */
  border: 2px solid #ccc;
}

.review {
  color: #337ab7;
  /*new*/
}

.review::before {
  display: block;
  content: "\"";
  font-size: 3rem;
  height: 0;
  padding-bottom: 15px;
  color: #fdb930;
}
/*# sourceMappingURL=styles.css.map */