@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;600;700&display=swap');

:root {
  --mesa-blue-gradient: linear-gradient(120deg, #001b33 0%, #023867 35%, #007ecc 100%);
  --mesa-secondary-blue-gradient: linear-gradient(317deg, #0e223f 0%,  #1f3c7b 35%,  #2253a3 100%);
  --mesa-yellow-gradient: linear-gradient(317deg, #fcb424 0%,  #ffcd42 35%,  #ffe65c 100%);
  --mesa-primary-mid-blue: #1f3c7b;
}

/*General body styling*/
/*san-serif is easier font to read*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Antonio", san-serif; 
    background: var(--mesa-blue-gradient);
     p {
      line-height: 1.5;
      margin: 0;
    }
    .header {
      h2, p {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        color: #fff;
      }
      h2 {
        padding: 10px;
        font-size: 2.5rem;
      }
    }
 
  }
  /*Typography*/
  .alum-details {
    color: #212121;
    font-size: calc(1rem + (3 - 1) * ((100vw - 300px)/(1600 - 300)));
  }
    /*Line clamp, limit line to 7 for longer quotes?*/
    span {
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;  
      overflow: hidden;
    }
  .review { 
    &::before , &::after {
      font-family: sans-serif;
    font-size: calc(7rem + (6 - 1) * ((100vw - 300px)/(1600 - 300)));
      font-weight: 500;
    }
    .highlight {
      font-size: calc(1.2rem + (3 - 1.2) * ((100vw - 300px)/(1600 - 300)));
      font-style: italic;
      font-family: sans-serif;
    }
  }
  /*********************
  GRID LAYOUT STYLING 
  *********************/
  /*Fix flex box so it doesn't spill out of container*/
  .testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
     grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
     height: min-content;
    align-content: center; 
  /*   background: #f8f8ff; */
    margin: 0 auto;
    align-items: center;
    justify-items: center;
  }
  /*********************
  FLEX ITEM GENERAL STYLING
  **********************/
  .testimonial-card {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-self: baseline;
    margin: 0;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 0;
    margin: 0;
    .alum-info {
      display: flex;
      flex-direction: column;
      flex: 1;
      flex-shrink: 0;
      flex-basis: 100%;
      flex-grow: 0;
      margin-top: 0;
      margin-right: 10%;
      min-width: 273px;
      height: 450px;
    }
    .alum-grad{ 
      order: 1;
      width: 0; 
      height: 0; 
      margin-left: 59px;
      position: relative;
      top: -25%;
      left: 0;
    aside {
      display: inline-flex;
     /*  font-size: 3.25rem; */
      font-size: calc(3rem + (7 - 3) * ((100vw - 300px)/(1600 - 300)));
      letter-spacing: 3px;
      color: #fff;
      font-weight: 700;
      transform-origin: 0 0;
      transform: rotate(90deg);
      width: 235px;
      span {
        color: #001b33;
      }
    }
    }
    .alum-image {
  /*     background: var(--mesa-blue-gradient);   */
      border-radius: 5px;
      display: block;
      width: 100%;
/*       height: 300px; */
    }
    .alum-image-crop {
      width: 115px;
      height: 115px;
      overflow: hidden;
      border: 5px solid #fff;
      border-radius: 50%;
    }
    .alum-image-crop {
    order: 4;
    margin: 0 auto;
    position: relative;
    top: 25%;
    }
    .review {
      order: 2;
      background: #fff;
      /*trying to fix flex items to fit grid container*/
      display: flex;
      justify-content: center;
      align-content: center;
      &:before {
         content: "\”";
         bottom: 75%;
         left: 75%;
        /* color: #212121; */
          color: #fff;
          height: 0;
          opacity: 0.5;
          /* z-index: 1; */
          display: block;
          position: relative;
      }
      .highlight {
         margin: 30px 45px; 
        /* margin-top: 30px;
        margin-bottom: 15px; */
       /*  margin-left: auto; */
        text-align: center;
        font-size: calc(1rem + (4 - 1) * ((100vw - 300px)/(1600 - 300)));
        /* flex: 0.8; */
        flex: 1;
      }
    }
    .alum-details {
      order: 3;
      background-color: #fff;
      color: var(--mesa-primary-mid-blue);
      text-align: center;
      margin: 0 auto;
      padding-bottom: 15px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      flex: 1;
      p {
        &:nth-of-type(n+2) {
          color: #212121;
          opacity: .8;
        }
      }
      }
  }

/*********************
COMBINED S1-S3 CARD STYLING
*********************/
.testimonial-card:nth-of-type(odd) {
&:nth-child(odd) {
/*   grid-column: 1/2; */
  background: var(--mesa-secondary-blue-gradient);
  /* background: #1f3c7b; */
  border: 1px solid #ccc;
}
} 
.testimonial-card:nth-of-type(even) {
&:nth-child(even) {
/*   grid-column: 2/3; */
  background: var(--mesa-yellow-gradient);
  border: 1px solid #ccc;
  aside {
    span {
      color: var(--mesa-primary-mid-blue);
    }
  }
}
}

/*********************
MID SIZED CARD STYLING
*********************/
.testimonial-card:nth-of-type(5){
  background: #fff;
  border: 1px solid #fff;
  &:nth-child(4){
    padding: 10px;
    color: #fff;
    grid-column: 1/3;
      color: #212121;
      align-items:center;
      text-align: left;
      border-radius: 5px;
      .alum-info {
        display: flex;
        flex-direction: column;
        flex: 1;
        flex-shrink: 0;
        flex-basis: 100%;
        flex-grow: 0;
        margin-top: 0;
        margin-right: 10%;
        min-width: 273px;
        height: 300px;
      }
      .alum-image {
        border-radius: 5px;
        background: var(--mesa-yellow-gradient);
        display: block;
        width: 100%;
        position: relative;
        top: -13%;
        left: 1%;
      }
      .alum-image-crop {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
        order: 4;
        position: relative;
        top: 8%;
        left: 72%;
        border: 5px solid #fff;
      }
      .alum-grad{ 
        /*WE ARE MESA*/
        order: 1;
        width: 0;
        height: 0;
        margin-left: 59px;
        position: relative;
        bottom: 123%;
        left: 95%;
      aside { 
        &::before {
          content: "WE ARE MESA";
        }
        /*No content in aside*/
        display: inline-flex;
        font-size: 3.25rem;
        letter-spacing: 3px;
        color: #023867;
        font-weight: 700;
        transform-origin: 0 0;
        transform: rotate(90deg);
        width: 280px;
        span {
          color: #001b33;
        }
      }
  }
  .review {
    .highlight {
      padding-right: 50px;
    }
  }
  }
}

  /*Alum image container*/
  .alum-image-crop {
    width: 100px;
    height: 100px;
    overflow: hidden;
   /*  border: 5px solid #023867; */
    border-radius: 50%;
  }
  /*Alum images*/
  #alum2 {
    background: url(images/image2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  #alum5 {
    background: url(images/image5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #alum6 {
    background:url(images/image6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #alum7  {
    background: url(images/image7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 
  #alum8 {
    background: url(images/image8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #alum9 {
    background: url(images/image9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  

  /*********************
  MEDIA QUERIES 
  *********************/
  /*Line clamps*/