@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;600;700&display=swap");
:root {
  --mesa-blue-gradient: linear-gradient(120deg, #001b33 0%, #023867 35%, #007ecc 100%);
  --mesa-yellow-gradient: linear-gradient(317deg, #daf23d 0%, #f2e63d 35%, #fdce45 100%);
}

/*General body styling*/
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Antonio", san-serif;
}

body p {
  line-height: 1.5;
}

/*outer grid*/
.testimonial-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  grid-gap: 20px;
  padding: 20px;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  max-height: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border: 1px solid green;
}

/*Cards use flex
  May need multiple flex containers for 2D content/or use grid
  2D Content vs Grid/subgrid (subgrid only supported by firefox :(no to subgrids lol)  
  Explicit and Implicit Grids
  
  Grid properties:: 
  ::grid-container 
  justify-content: when size of grid is less than size of grid container, set alignment of grid within the grid container
  align-content: block(col) axis 
  
  
  ::grid-items
  justify-items: aligns items along inline(row) axis
      vs. 
  aligns-items: aligns along the block(column) axis)
  place-items: sets both align-items and justify-items props
  */
.testimonial-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-items: start;
  border: 1px solid #ccc;
  padding: 1rem 2rem;
  height: auto;
  max-height: 500px;
  -webkit-box-shadow: 3px 3px 3px #ccc;
          box-shadow: 3px 3px 3px #ccc;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*S1*/
  /*S2*/
  /*S3*/
}

.testimonial-card .alum-wrapper {
  background: rgba(204, 204, 204, 0.3);
}

.testimonial-card:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background: var(--mesa-blue-gradient);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  text-align: left;
  /*flex items*/
}

.testimonial-card:nth-child(1) .alum-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding-left: 10%;
  border: 1px solid orange;
}

.testimonial-card:nth-child(1) .alum-grad {
  display: block;
  position: absolute;
  top: 0%;
  left: 8%;
  color: #fff;
  font-weight: 600;
  padding-left: 0;
}

.testimonial-card:nth-child(1) .alum-grad aside {
  display: block;
  font-size: 4rem;
  letter-spacing: 1px;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.testimonial-card:nth-child(2) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background: var(--mesa-yellow-gradient);
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.testimonial-card:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  background: #fdb930;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  text-align: right;
}

/*Alum details*/
.alum-details p {
  margin-bottom: 3px;
}

/*Testimonial*/
.review:before {
  content: "\"";
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
}

/*Alum image container*/
.alum-image-crop {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 50%;
}

/*Alum images*/
#alum5 {
  background: url(images/image5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=styles.css.map */