@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
  --mesa-blue-gradient: linear-gradient(120deg, #001b33 0%, #023867 35%, #007ecc 100%);
  --mesa-yellow-gradient: linear-gradient(317deg, #daf23d 0%, #f2e63d 35%, #fdce45 100%);
}

/*General body styling*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Antonio", san-serif; 
    p {
      line-height: 1.5;
    }
    h2 {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      padding: 10px;
    }
  }
  /*Typography*/
  .alum-details {
    color: #212121;
    font-size: calc(1rem + (3 - 1) * ((100vw - 300px)/(1600 - 300)));
  }
  .review { 
    &::before , &::after {
      font-family: sans-serif;
    font-size: calc(7rem + (6 - 1) * ((100vw - 300px)/(1600 - 300)));
      font-weight: 500;
    }
    .highlight {
      font-size: calc(1.2rem + (3 - 1.2) * ((100vw - 300px)/(1600 - 300)));
    }
  }
  /*outer grid*/
  .testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    max-height: 500px;
    /* justify-content: center;  */
    align-content: center; 
    background: var(--mesa-blue-gradient);
    margin: 0 auto;
    align-items: center;
    justify-items: center;
  }
  /*Cards use flex
  May need multiple flex containers for 2D content/or use grid
  2D Content vs Grid/subgrid (subgrid only supported by firefox :(no to subgrids lol)  
  Explicit and Implicit Grids
  
  Grid properties:: 
  ::grid-container 
  justify-content: when size of grid is less than size of grid container, set alignment of grid within the grid container
  align-content: block(col) axis 
  
  
  ::grid-items
  justify-items: aligns items along inline(row) axis
      vs. 
  aligns-items: aligns along the block(column) axis)
  place-items: sets both align-items and justify-items props
  */
  /*Style 1
  Mesa Yellow, Small Alum, Quotation mark*/
  .testimonial-card {
    display: flex;
    flex-direction: row;
    justify-items: start;
    margin: 0;
    height: 360px;
    max-height: 500px;
    flex-wrap: wrap;
    border-radius: 5px;
    /*S1*/
    &:nth-child(1) {
      grid-column: 1/2;
      align-items: start;
      text-align: left;
      background: var(--mesa-yellow-gradient);
      border-radius: 5px;
      /*flex items*/ 
      .alum-info {
        display: flex;
        flex-direction: column;
        flex: 1;
        flex-shrink: 0;
        flex-basis: 100%;
        flex-grow: 0;
        /*card doesn't get smaller than 273px*/
        min-width: 273px;
        height: 100%;
      }
      .alum-grad{ 
        order: 1;
        width: 0;
        height: 0;
        margin-left: 27px;
        position: relative;
        top: -30%;
        left: 1%;
      aside {
        font-size: 1.5rem;
        letter-spacing: 3px;
        color: #fff;
        font-weight: 700;
        transform-origin: 0 0;
        transform: rotate(90deg);
        width: 235px;
      }
      }
      .alum-image {
        border-radius: 5px;
        background: var(--mesa-yellow-gradient);
        display: block;
        width: 100%;
      }
      .alum-image-crop {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
        order: 4;
        position: relative;
        top: 20%;
        left: 35%;
        border: 5px solid #fff;
      }
      .review {
        order: 3;
        background-color: #fff;
        padding: 20px;
          &:before{
          content: "\“";
          top: -22%;
          left: -6%;          
        }
        &:after {
           content: "\”";
           bottom: 27%;
           right: -82%;
        }
        &:before, &:after {
          color: #023867;
            height: 0;
            opacity: 0.5;
            z-index: 1;
            display: block;
            position: relative;
        }
        .highlight {
          z-index: 2;
        }
      }
      .alum-details {
        order: 2;
        padding:0 10px;
        background-color: #fff;
        color: #023867;
      }
      .review {
        border-radius: 5px;
      }
    }
  }/*end S1*/

    /*Style 2 card styling 
    Mesa Blue, Big Alum*/
    .testimonial-card:nth-of-type(2) {
      padding: 0;
      margin: 0;
    &:nth-child(2) {
      grid-column: 2/3;
      background: var(--mesa-blue-gradient);
      color: #212121;
      align-items: top;
      text-align: left;
      border-radius: 5px;
      .alum-info {
        display: flex;
        flex-direction: column;
        flex: 1;
        flex-shrink: 0;
        flex-basis: 100%;
        flex-grow: 0;
        margin-top: 0;
        margin-right: 10%;
        min-width: 273px;
        height: 300px;
      }
      .alum-grad{ 
        order: 1;
        width: 0;
        height: 0;
        margin-left: 59px;
        position: relative;
        top: -38%;
        left: 0;
      aside {
        display: inline-flex;
        font-size: 3.25rem;
        letter-spacing: 3px;
        color: #fff;
        font-weight: 700;
        transform-origin: 0 0;
        transform: rotate(90deg);
        width: 235px;
        span {
          color: #001b33;
        }
      }
      }
      .alum-image {
        /*background styles?*/
        background: var(--mesa-blue-gradient);  
        border-radius: 5px;
        display: block;
        width: 100%;
        height: 300px;
      }
      .alum-image-crop {
        width: 110px;
        height: 110px;
        overflow: hidden;
        border: 5px solid #fff;
        border-radius: 50%;
      }
      .alum-image-crop {
      order: 4;
      position: relative;
      top: 5%;
      left: 55%;
      }
      .review {
        order: 2;
        background: #fff;
        &:after {
           content: "\”";
           bottom: 34%;
           right: -82%;
        }
        &:before, &:after {
          color: #212121;
            height: 0;
            opacity: 0.5;
            z-index: 1;
            display: block;
            position: relative;
        }
        .highlight {
          position: relative;
            margin: 5px 35px;
            padding-left: 20px;
            z-index: 2;
        }
        
      }
      .alum-details {
        order: 3;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 56px;
        background-color: #fff;
        color: #023867;
        }
  }
} /*end S2*/
     /*S3 Styling
     Minimalistic, Smaller card,*/
     .testimonial-card:nth-of-type(3) {
      max-height: 300px; 
      background: #fff;
      padding: 10px;
      &:nth-child(1) {
        grid-column: 3/4;
        background: rgb(255, 255, 255);
          .alum-info {
            display: flex;
            flex-direction: column;
            flex: 1;
            flex-grow: 0;
            flex-shrink: 0;
            flex-basis: 100%;
            place-items: center;
            min-width: 273px;
          }
        .alum-image {
          order: 1;
          background: var(--mesa-blue-gradient);  
          border-radius: 5px;
          display: block;
          width: 100%;
          height: 300px;
        }
        .alum-image-crop {
          width: 110px;
          height: 110px;
          overflow: hidden;
          border: 5px solid #fff;
          border-radius: 50%;
        }
          .review {
            order: 2;
            text-align: center;
          }
          .alum-details {
            /*new*/
            order: 3;
            p {
              padding: 0;
              margin: 0;
              text-align: center;
            }
            .alumni {
              color: #023867;
              font-weight: 500;
            }
          }
        }
      }
  
  /*General card styling*/
    /*Alum details*/
    .alum-details {
      p {
        line-height: 1.5;
        margin: 0;
      }
    }
    /*Testimonial*/
    /*Line clamp, limit line to 7 for longer quotes?*/
    span {
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;  
      overflow: hidden;
    }
  
  /*Alum image container*/
  .alum-image-crop {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 5px solid #023867;
    border-radius: 50%;
    
  }
  /*Alum images*/
  #alum5 {
    background: url(images/image5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #alum6 {
    background:url(images/image6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 
  #alum8 {
    background: url(images/image8.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }